<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="client/css/style.css">
    <title>Тестовое English Tochka</title>
</head>
<body>

<section class="account">

    <div class="lock-padding container account__container">

        <div class="account__options">
            <div class="account__balance">
                <h4 class="balance__title">Ваш баланс:</h4>
                <div class="balance__content">
                    <img class="balance__coin" src="client/img/coin.png" alt="ET3 coin">
                    <p class="balance__money">34</p>
                    <div class="balance__currency"></div>
                </div>
            </div>

            <div class="account__sale">
                <div class="sale__title">
                    <h5 class="sale__text">Варианты обмена на скидку</h5>
                    <a href="#instruction" class="sale__instruction">Инструкция</a>
                </div>

                <div class="sale__variants">

                    <div class="sale__variant">
                        <div class="variant__price">
                            <img class="variant__coin" src="client/img/small_coin.png" alt="ET3 coin">
                            <p class="variant__money">50</p>
                            <div class="variant__currency"></div>
                        </div>
                        <img src="client/img/phone.svg" alt="" class="variant__icon">
                        <div class="variant__product">
                            <img src="client/img/50%25.svg" alt="" class="variant__product-sale-icon">
                            <small class="variant__text">на звонки ST (x2)</small>
                        </div>
                        <button class="btn variant__btn-done">Уже использовано</button>
                    </div>

                    <div class="sale__variant">
                        <div class="variant__price">
                            <img class="variant__coin" src="client/img/small_coin.png" alt="ET3 coin">
                            <p class="variant__money">70</p>
                            <div class="variant__currency"></div>
                        </div>
                        <img src="client/img/spec-course.svg" alt="" class="variant__icon">
                        <div class="variant__product">
                            <img src="client/img/30%25.svg" alt="" class="variant__product-sale-icon">
                            <small class="variant__text">на спецкурс</small>
                        </div>
                        <button class="btn variant__btn-use">Использовать скидку</button>
                    </div>

                    <div class="sale__variant">
                        <div class="variant__price">
                            <img class="variant__coin" src="client/img/small_coin.png" alt="ET3 coin">
                            <p class="variant__money">100</p>
                            <div class="variant__currency"></div>
                        </div>
                        <img src="client/img/course.svg" alt="" class="variant__icon">
                        <div class="variant__product">
                            <img src="client/img/50%25.svg" alt="" class="variant__product-sale-icon">
                            <small class="variant__text">на курс</small>
                        </div>
                        <button class="btn variant__btn-use">Использовать скидку</button>
                    </div>

                    <div class="sale__variant">
                        <div class="variant__price">
                            <img class="variant__coin" src="client/img/small_coin.png" alt="ET3 coin">
                            <p class="variant__money">139</p>
                            <div class="variant__currency"></div>
                        </div>
                        <img src="client/img/course.svg" alt="" class="variant__icon">
                        <div class="variant__product">
                            <img src="client/img/30%25.svg" alt="" class="variant__product-sale-icon">
                            <small class="variant__text">на курс</small>
                        </div>
                        <button class="btn variant__btn-use">Использовать скидку</button>
                    </div>

                </div>
                <div class="account__popup" id="instruction">
                    <div class="popup__container">
                        <div class="popup__content">
                            <a class="popup__btn-close close-popup" href="#"></a>
                            <div class="popup__title">Инструкция</div>
                            <div class="popup__text">После публикации сделайте скрин, что вы его написали и отправьте своему куратору, чтобы мы добавили вам спецкурс в личный кабинет.</div>
                            <div class="popup__text">После публикации сделайте скрин, что вы его написали и отправьте своему куратору, чтобы мы добавили вам спецкурс в личный кабинет.</div>
                            <div class="popup__text">После публикации сделайте скрин, что вы его написали и отправьте своему куратору, чтобы мы добавили вам спецкурс в личный кабинет.</div>
                            <div class="popup__text">После публикации сделайте скрин, что вы его написали и отправьте своему куратору, чтобы мы добавили вам спецкурс в личный кабинет.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="user-form">
    <div class="container user-form__container">
        <form class="form" action="" method="get">
            <label>
                <input class="form__input" placeholder="Введите логин" type="text">
            </label>
            <button class="btn form__btn" type="submit">Получить данные</button>
        </form>
        <div class="user-form__data">
            <h2 class="data__name"><%=title%>></h2>
        </div>
    </div>
</section>

<script src="client/js/popup.js"></script>
<script type="module" src="client/js/check-user.js"></script>
<script type="module" src="server/router.js"></script>
</body>
</html>